@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
/*Fonte*/
--body-font:'Montserrat', sans-serif;
--base-size: 16px;
/*Cores*/
--error-red: #d10213;
--black-blue: #00080c;
--dark-blue: #00111A;
--mid-dark-blue: #001B29;
--mid-blue: #003047;
--mid-light-blue: #003D5C;
--light-blue: #00699e;
--white-blue: #dcf3ff;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--body-font);
    font-size: var(--base-size);
    font-weight: 500;
    color: var(--white-blue);
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.page-title {
    font-size: 3rem;
}

.box {
    font-size: 1.2rem;
    background-color: var(--mid-blue);
    width: 55%;
    height: 50%;
    border-radius: .6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 1rem;
    grid-template-areas: 
        'text text'
        'binary-input result'
        'invalid-message invalid-message';
    grid-template-rows: 30% auto 15%;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 5px 6px var(--black-blue);
}

.text{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: text;
    border-bottom: 1px solid var(--mid-dark-blue);
    box-shadow: 0 1px 2px var(--mid-dark-blue);
}

.binary-inputbox {
    grid-area: binary-input;
    display: flex;
    column-gap: .5rem;
    align-items: center;
    margin-left: auto;
}

.binary-input {
    font-family: var(--body-font);
    font-size: 1rem;
    background-color: var(--white-blue);
    border: 1px solid var(--mid-dark-blue);
    border-radius: 3px;
    padding: .2rem;
    margin-right: 1rem;
}

.binary-input:focus {
    outline: 1px solid var(--mid-dark-blue);
    box-shadow: 2px 2px 3px var(--mid-dark-blue), -2px -2px 3px var(--mid-dark-blue);
}

.transform-btn {
    color: var(--white-blue);
    background-color: var(--mid-dark-blue);
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1.1rem;
    padding: .4rem;
    border-radius: 5px;
    border: 2px solid var(--mid-dark-blue);
    cursor: pointer;
}

.transform-btn:active {
    background-color: var(--mid-light-blue);
    box-shadow: 2px 2px 3px var(--mid-dark-blue), -2px -2px 3px var(--mid-dark-blue);
}

.decimal-equiv {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: result;
    border: 1px solid var(--mid-dark-blue);
    border-radius: 5px;
    width: 70%;
    height: 40%;
    margin: auto;
}

/*Configurações da invalidez do input*/
.invalid_message {
    display: none;
    color: var(--error-red);
    font-size: .9rem;
    grid-area: invalid-message;
}

.fa-circle-exclamation {
    color: var(--error-red);
    font-size: 2rem;
}

